/* Mission, vision card Css  */
 .category-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 80px;
    height: 80px;
    margin: 20px auto;
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
}
/* Mission, vision card Css  */



/* vidoe Css  */
.video-container {
    position: relative;
}

.gif-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#myVideo {
    position: relative;
    z-index: 0;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Your play button styles */
}

/* vidoe Css  */


/* Contact us form Css */
.container1 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  form textarea {
    height: 150px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  /* Contact us form Css */

  .featured-donate, .featured-section {
    padding: 4em 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
    .featured-donate img, .featured-section img {
      -webkit-box-shadow: 0 4px 30px -5px black;
      box-shadow: 0 4px 30px -5px black;
      border-radius: 7px; }
    .featured-donate h2, .featured-section h2 {
      color: #fff; }
    .featured-donate p, .featured-section p {
      color: #fff; }
    .featured-donate .featured-text, .featured-section .featured-text {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: .2em; }
    .featured-donate .donation-time, .featured-section .donation-time {
      color: rgba(255, 255, 255, 0.7);
      display: block;
      font-style: italic;
      font-size: 15px; }
    .featured-donate .fund-raised,  .fund-raised {
      font-weight: 900;
      color: #fff; }

     /* Overlay for the volunteer page */
      .overlay {
        position: relative;
      }
  
      .overlay:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: #009e74; /* Adjust the opacity here */
        opacity: 0.7;
      }
  
      /* Content CSS */
      .container {
        position: relative;
        z-index: 1;
      }



  .form-volunteer h2 {
    font-size: 25px;
    margin-bottom: 20px; }
  
  .form-volunteer label {
    color: #fff; }
  
  .form-volunteer .form-control {
    border: 2px solid #fff;
    background: none !important;
    margin-bottom: 10px;
    color: #fff !important; }
    .form-volunteer .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
      font-style: italic; }
    .form-volunteer .form-control::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
      font-style: italic; }
    .form-volunteer .form-control:-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
      font-style: italic; }
    .form-volunteer .form-control:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
      font-style: italic; }
  
  .custom-progress {
    background-color: #fff;
    height: .2rem;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 10px; }
  
  .person-donate em {
    font-family: serif; }
  
  .person-donate img {
    border-radius: 7px;
    width: 180px;
    margin-bottom: 20px; }
  
  .person-donate h2 {
    font-size: 20px;
    margin: 0;
    padding: 0; }
  
  .person-donate p {
    line-height: 1.5; }
  
  .person-donate .time {
    color: #b3b3b3;
    font-size: 13px; }
  
  .person-donate .donate-amount > div {
    width: 50%;
    padding: 10px; }
  
  .person-donate .donate-amount .label {
    background: #f2f2f2; }
  
  .person-donate .donate-amount .amount {
    background: #009e74;
    color: #fff; }
  
  .fundraise-item {
    -webkit-box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.1);
    border: none;
    height: 100%; }
    .fundraise-item .custom-progress-success {
      background-color: #f2f2f2;
      height: .2rem;
      border-radius: 4px;
      margin-bottom: 20px; }
    .fundraise-item a {
      color: #000; }
      .fundraise-item a:hover {
        color: #009e74; }
    .fundraise-item .donation-time {
      color: #ccc;
      display: block;
      font-style: italic;
      font-size: 15px; }
    .fundraise-item .card-title {
      font-size: 24px; }
  
  .ftco-animate {
    opacity: 0;
    visibility: hidden; }
  
  .bg-primary {
    background: #009e74 !important; }
  
  .site-section {
    padding: 4em 0; }
  
  .border-top {
    border-top: 1px solid #f2f2f2 !important; }
  
  .ftco-bg-dark {
    background: #3c312e; }
  