/* Mission, vision card Css  */
 .category-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 80px;
    height: 80px;
    margin: 20px auto;
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-text {
    font-size: 16px;
}
/* Mission, vision card Css  */



/* vidoe Css  */
.video-container {
  position: relative;
  text-align: center;
}

.gif-overlay {
    position: absolute;
    width: 40%;
    height: 40%;
    object-fit: cover;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  cursor: pointer;
}

#myVideo {
    position: relative;
    z-index: 0;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
   
}

/* vidoe Css  */


/* Contact us form Css */
.container1 {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form label {
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  form textarea {
    height: 150px;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  /* Contact us form Css */
